mixin apartment-card(imgPath, number, price, luxury=false, starNumber=5, reviewNumber=0, showShade=false)
   .apartment-card
      .apartment-card__wrapper
         .apartment-card__img-wrapper
            .apartment-card__img-track
               each val in imgPath
                  img(src=val).apartment-card__img
         .apartment-card__image-left-shade
         .apartment-card__image-right-shade
         img(src=require('./bem/apartment-card/apartment-card__arrow-left.svg').default).apartment-card__arrow-left
         img(src=require('./bem/apartment-card/apartment-card__arrow-right.svg').default).apartment-card__arrow-right
         each val, index in imgPath
            if index == 0
               .apartment-card__dot.apartment-card__dot_full
            else
               .apartment-card__dot
      .apartment-card__stats
         .apartment-card__number
            | №
            span.apartment-card__number-value=number
            if luxury
               span.apartment-card__number-status люкс
         .apartment-card__cost #[span=price]₽ #[span.apartment-card__cost-description в сутки]
      .apartment-card__divide-line
      .apartment-card__rating
         +rate_button(5, starNumber)
         .apartment-card__reviews #[span.apartment-card__reviews-number=reviewNumber] Отзывов