mixin toggle(name, id, label, checked=false)
   div(style!=attributes.margin).toggle
      if checked == false
         input(type="checkbox" id=id name=name).toggle__checkbox
      else
         input(type="checkbox" id=id name=name checked).toggle__checkbox
      label(for=id).toggle__label=label