.footer__compact
   .footer__logo-wrapper
      img(src=require('../../svg/logo-colored.svg').default).footer__logo-icon
      img(src=require('../../svg/logo-text.svg').default).footer__logo-text
   .footer__compact-description-wrapper
      .footer__compact-margin
      .footer__compact-description Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
      .footer__compact-margin
   .footer__icons-wrapper.footer__icons-wrapper_compact
      .footer__icon-wrapper
         img(src=require('./footer__twitter.svg').default)
      .footer__icon-wrapper
         img(src=require('./footer__facebook.svg').default)
      .footer__icon-wrapper
         img(src=require('./footer__instagram.svg').default)