mixin checkbox-buttons(header)
   .checkbox-buttons
      h3=header
      .checkbox-buttons__rows
         if block
            block
         else
            h3 no content provided

mixin checkbox-buttons__row(id, name, label, checked=false)
   .checkbox-buttons__row
      if checked == false
         input(type='checkbox' id=id name=name).checkbox-buttons__checkbox
      else
         input(type='checkbox' id=id name=name checked).checkbox-buttons__checkbox
      label(for=id).checkbox-buttons__label=label