mixin review(image, name, date, content, likeNumber, likeButtonPressed=true)
   .review
      .review__media
         img(src=image).review__img
         .review__like-wrapper
            +like_button(likeNumber, likeButtonPressed)
      .review__info
         h3.review__name=name
         .review__date=date
         .review__content=content