mixin text-field(placeholder='', arrow=false)
   div(style!=attributes.margin).text-field
      .text-field__relative
         input(type="text" class="text-field__input" placeholder=placeholder)
         if arrow === true
            img(src=require('./bem/text-field/text-field__arrow.svg').default).text-field__arrow

mixin text-field_hover(placeholder='', arrow=false)
   .text-field
      .text-field__relative
         input(type='text' class='text-field__input text-field_always-active' placeholder=placeholder)
         if arrow === true
            img(src=require('./bem/text-field/text-field__arrow.svg').default).text-field__arrows