mixin header(loginButton='Login', registerButton='Register')
   .header
      .header__margin
      .header__content
         img(src=require('./svg/logo-colored.svg').default).header__logo-icon
         img(src=require('./svg/logo-text.svg').default).header__logo-text
         .header__space
         ul.header__menu
            if block
               block
         +button-light(loginButton)(style='margin-right: 20px; height: 34px; padding: 0 18px 0 17px; flex-shrink: 0;')
         +button-primary(registerButton)(style='height: 34px;  padding: 0 20px 0 19px; margin-right: 10px; flex-shrink: 0;')
      .header__margin

mixin header-logged-in(userName='Username')
   .header
      .header__margin
      .header__content
         img(src=require('./svg/logo-colored.svg').default).header__logo-icon
         img(src=require('./svg/logo-text.svg').default).header__logo-text
         .header__space
         ul.header__menu
            if block
               block
         .header__divider
         .header__user-name=userName
      .header__margin