mixin header(loginButton='Login', registerButton='Register')
   .header
      .header__margin
      .header__content
         img(src=require('./svg/logo-colored.svg').default)
         img(src=require('./svg/logo-text.svg').default).header__logo-text
         .header__space
         ul.header__menu
            li.header__menu-item.header__menu-item_header Home
            li.header__menu-item About Us
            li.header__menu-item.header__menu-item_dropdown Services
            li.header__menu-item Careers
            li.header__menu-item News
            li.header__menu-item Documentation
         +button-light(loginButton)(style='margin-right: 20px; height: 34px; padding: 0 18px 0 17px;')
         +button-primary(registerButton)(style='height: 34px;  padding: 0 20px 0 19px;')
      .header__margin

mixin header-logged-in(userName='Username')
   .header
      .header__margin
      .header__content
         img(src=require('./svg/logo-colored.svg').default)
         img(src=require('./svg/logo-text.svg').default).header__logo-text
         .header__space
         ul.header__menu
            li.header__menu-item.header__menu-item_header Home
            li.header__menu-item About Us
            li.header__menu-item.header__menu-item_dropdown Services
            li.header__menu-item Careers
            li.header__menu-item News
            li.header__menu-item Documentation
         .header__divider
         div=userName
      .header__margin